<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="mystyle.css">
<style>
.center {
  text-align: center;
}
</style>
</head>
<body>


<h1>Welcome!</h1>

<p>Please answer the following questions to help your counsellor better understand you and what challenges you have been facing.</p>
<p>We ask that you turn on your camera such that your face can be seen in order to help the counsellor better understand you. This can then be used to better develop a plan and come up with goals. The video will not be saved. If you are uncomfortable turning on your camera, you are not required to do so.</p>
<p>All responses will be saved and sent directly to your counsellor.</p>

<p>Please fill out these details and we will begin!</p>

<form action="/signup" method="post">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <label for="lname">Date of Birth:</label><br>
  <input type="text" id="dob" name="dob" value="01/23/2021"><br><br>
  <input type="submit" id="next" value="Submit">
  <input type="reset">
</form> 

</body>
</html>
