<!DOCTYPE html>
<html>
<body>

<h2>Page 14 of 14</h2>

<form action="{{ url_for('short_questions_3') }}" method="post">
3. Do you regularly set positive goals for your work life, your relationships or health, and relaxation?
<br>
<br>
<textarea rows="10" cols="100" name="goals" placeholder="Enter text here...">
</textarea>
<br>
<br>
<br>
<br>
<br>
<input type="submit" id="next" value="Submit">
<input type="reset">
</form>
<h1>Sample Neural Network Processing</h1>
<img id="bg" src="{{ url_for('video_feed') }}">
<p id="bg" src="/emotion">

</body>
</html>
