<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="mystyle.css">
<style>
.center {
  text-align: center;
}
</style>
</head>

<body>

<div class="center">
<h2>Page 9 of 12</h2>

<!-- <form action="/action_page.php" id="usrform"> -->
<form action="/summary_page" method="get">
<p>Here is my variable: {{ variable }}</p><br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>

<input type="submit" name = "submit" value="Nearly every day" class="button button1">

</form>

</div>

</body>
</html>
