<body>
<h1>Patient Report</h1>
<br>
<h2>Patient Information</h2>
<h3>Patient Name: Tima ja</h3>
<h3>Patient D.O.B: 01/23/2122</h3>
<br>
<h2>Depression Screening</h2>
<h3>Score: 15</h3>
<h3>Results: Mod/Severe Depression &#128542</h3>
<br>
<h3>Little interest or pleasure in doing things: &#128557</h3>
<h3>Felt down, depressed, or hopeless: &#128557</h3>
<h3>Trouble falling or staying asleep, or sleeping too much: &#128557</h3>
<h3>Felt tired or have little energy: &#128566</h3>
<h3>Poor appetite or overate: &#128566</h3>
<h3>Let yourself or your family down: &#128512</h3>
<h3>Trouble concentrating on things: &#128566</h3>
<h3>Moved or spoken so slowly/fidgety and restless: &#128566</h3>
<h3>Thoughts of self harm: &#128557</h3>
<br>
<h2>Open-ended short answer</h2>
<h3>Biggest Challenge: Roguh at home. It's not going well at home.</h3>
<h4>Keywords: [{'keyword': 'home', 'confidence_score': 0.656164}]</h4>
<h4>Facial Emotion: &#128566</h4>
<h4>Text Emotion: &#128557</h4>

<br>
<h3>Recent Coping Mechanisms: Work is difficult</h3>
<h4>Keywords: {'keywords': [], 'confidence_score': '0'}</h4>
<h4>Facial Emotion: &#128557</h4>
<h4>Text Emotion: &#128554</h4>

<br>
<h3>Recent Goals: I do! Walks are nice.</h3>
<h4>Keywords: [{'keyword': 'nice', 'confidence_score': 0.57077}]</h4>
<h4>Facial Emotion: &#128557</h4>
<h4>Text Emotion: &#128512</h4>

<br>
<input type="submit" id="next">
</body>
