<body>
<h1>Patient Report</h1>
<br>
<h2>Patient Information</h2>
<h3>Patient Name: Tim kal</h3>
<h3>Patient D.O.B: 01/23/1050</h3>
<br>
<h2>Depression Screening</h2>
<h3>Score: 18</h3>
<h3>Results: Mod/Severe Depression &#128542</h3>
<br>
<h3>Little interest or pleasure in doing things: &#128566</h3>
<h3>Felt down, depressed, or hopeless: &#128512</h3>
<h3>Trouble falling or staying asleep, or sleeping too much: &#128557</h3>
<h3>Felt tired or have little energy: &#128566</h3>
<h3>Poor appetite or overate: &#128566</h3>
<h3>Let yourself or your family down: &#128566</h3>
<h3>Trouble concentrating on things: &#128512</h3>
<h3>Moved or spoken so slowly/fidgety and restless: &#128512</h3>
<h3>Thoughts of self harm: &#128566</h3>
<br>
<h2>Open-ended short answer</h2>
<h3>Biggest Challenge: I'm having trouble at home and things are quite stressful. I'm not having a good time. </h3>
<h4>Keywords: {'keywords': [{'keyword': 'trouble', 'confidence_score': 0.822054}, {'keyword': 'home', 'confidence_score': 0.828865}, {'keyword': 'things', 'confidence_score': 0.700279}, {'keyword': 'quite stressful', 'confidence_score': 0.653262}, {'keyword': 'good time', 'confidence_score': 0.924399}]}</h4>
<h4>Facial Emotion: &#128566</h4>
<h4>Text Emotion: &#128557</h4>

<br>
<h3>Recent Coping Mechanisms: I'm journalling as Dr. Joe recommended, but It's not really helping. I'm still having a bad time at work.</h3>
<h4>Keywords: {'keywords': [{'keyword': 'Joe', 'confidence_score': 0.607864}, {'keyword': 'bad time', 'confidence_score': 0.984894}, {'keyword': 'work', 'confidence_score': 0.932314}]}</h4>
<h4>Facial Emotion: &#128566</h4>
<h4>Text Emotion: &#128557</h4>

<br>
<h3>Recent Goals: I'm going on long walks and am enjoying setting physical and mental goals for myself. IT's working well.</h3>
<h4>Keywords: {'keywords': [{'keyword': 'long walks', 'confidence_score': 0.8165}, {'keyword': 'physical', 'confidence_score': 0.925309}, {'keyword': 'goals', 'confidence_score': 0.504562}]}</h4>
<h4>Facial Emotion: &#128512</h4>
<h4>Text Emotion: &#128540</h4>

<br>
<input type="submit" id="next">
</body>
