<body>
<h1>Patient Report</h1>
<br>
<h2>Patient Information</h2>
<h3>Patient Name: Tim Ya</h3>
<h3>Patient D.O.B: 01/23/1532</h3>
<br>
<h2>Depression Screening</h2>
<h3>Score: 14</h3>
<h3>Results: Moderate Depression &#128542</h3>
<br>
<h3>Little interest or pleasure in doing things: &#128557</h3>
<h3>Felt down, depressed, or hopeless: &#128566</h3>
<h3>Trouble falling or staying asleep, or sleeping too much: &#128566</h3>
<h3>Felt tired or have little energy: &#128557</h3>
<h3>Poor appetite or overate: &#128512</h3>
<h3>Let yourself or your family down: &#128512</h3>
<h3>Trouble concentrating on things: &#128557</h3>
<h3>Moved or spoken so slowly/fidgety and restless: &#128566</h3>
<h3>Thoughts of self harm: &#128566</h3>
<br>
<h2>Open-ended short answer</h2>
<h3>Biggest Challenge: Home is rough</h3>
<h4>Keywords: [{'keyword': 'Home', 'confidence_score': 0.776003}]</h4>
<h4>Facial Emotion: &#128566</h4>
<h4>Text Emotion: &#128561</h4>

<br>
<h3>Recent Coping Mechanisms: School is good!</h3>
<h4>Keywords: [{'keyword': 'School', 'confidence_score': 0.775859}]</h4>
<h4>Facial Emotion: &#128557</h4>
<h4>Text Emotion: &#128512</h4>

<br>
<h3>Recent Goals: I love walks and exercise.</h3>
<h4>Keywords: {'keywords': [], 'confidence_score': '0'}</h4>
<h4>Facial Emotion: &#128557</h4>
<h4>Text Emotion: &#128540</h4>

<br>
<input type="submit" id="next">
</body>
